<div class="container">
    <div class="row">
    </div>

    <form [formGroup]="creativeEditForm" (ngSubmit)="submitForm(creativeEditForm)" *ngIf="creative">

        <div class="form-row">
            <div class="col">
                <label class="sr-only" for="groupCreatives">Group Creatives</label>
                <input type="text" class="form-control mb-2" id="groupCreatives" placeholder="Group Creatives" formControlName="groupCreatives" value="{{creative.groupCreatives}}">
            </div>
            <div class="col">
                <label class="sr-only" for="name">Creative Name</label>
                <input type="text" class="form-control mb-2" id="name" placeholder="Creative name" formControlName="name" value="{{creative.name}}">
            </div>
        </div>
        <div class=" form-row ">
            <div class="col ">
                <label class="sr-only " for="clickThroughURL ">Click through URL</label>
                <input type="text " class="form-control mb-2 " id="clickThroughURL " placeholder="Click through URL " formControlName="clickThroughURL" value="{{creative.clickThroughURL}}">
            </div>
            <div class="col ">
                <label class="sr-only " for="topLevelDomain ">Top level domain</label>
                <input type="text " class="form-control mb-2 " id="topLevelDomain " placeholder="Top level domain " formControlName="topLevelDomain" value="{{creative.topLevelDomain}}">
            </div>
        </div>
        <div class="form-row ">
            <div class="col ">
                <label class="sr-only " for="impressionTrackingURL ">Impression Tracking URL</label>
                <input type="text " class="form-control mb-2 " id="impressionTrackingURL " placeholder="Impression Tracking URL " formControlName="impressionTrackingURL" value="{{creative.impressionTrackingURL}}">
            </div>
            <div class="col "></div>
        </div>
        <div class="form-row">
            <div class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
                <div class="text-wrapper">
                    <div class="centered">Drop your file here!</div>
                </div>
            </div>
            <!--droped image preview-->
            <div *ngFor="let file of fileToUpload">
                <img *ngIf="file" [src]="file.url" width="100px" height="100px">
            </div>

        </div>

        <mat-grid-list cols="2" rowHeight="fit" gutterSize="1px" [style.height]="'200px'">
            <mat-grid-tile *ngFor="let creativeURL of creative.creativesURL; let i=index">
                <mat-card [style.width]="'100%'">
                    <div fxLayout="row">
                        <div fxFlex="10">
                            <img src="{{creativeURL}}" alt="Smiley face">
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="form-row ">
            <div class="col ">
                <button mat-stroked-button class="mb-2" color="primary" [disabled]="!creativeEditForm.valid">Save Creative</button>
            </div>
        </div>

    </form>
</div>
